@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);

$schoolcolors: (
  
    bannercolor:#fff,
     primary:#000,
     secondary:#4386c3,
     accent:#205a90,
     sidemenucolor:#ecc621,
     infoboxcolor:#f5f5f6,
     navlinks:#fff,
);


@mixin rounded-corners($arc) {
    -moz-border-radius: $arc;
    -webkit-border-radius: $arc;
    border-radius: $arc;  
}

header{
    background-color: map-get($schoolcolors , bannercolor); 

    h1{
        color: map-get($schoolcolors , primary);
        font-size: 4em;
        padding-top:20px; 
        font-family: 'Oswald', sans-serif;    
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;

}
h1 span{  font-weight:lighter; font-size: .5em;}
    address {  text-indent: -9999px!important; margin:0; padding: 0px; height: 1px; line-height: 1px;}
    h3{ color: map-get($schoolcolors , accent); font-family: 'Oswald', sans-serif;  text-align: center;  }
    a:hover {text-decoration: none;}
    }

    main{
        h2, h2 a {
    
            color: map-get($schoolcolors , primary);
            font-size: 2.2em;
            line-height: 1.2em;
            margin: 24px 0;
            font-family: 'Oswald', sans-serif;  
            text-transform: uppercase;}
    
            h3,  h3 a, #announcements h3 {
    
                color: map-get($schoolcolors , secondary);
                font-size: 1.8em;
                line-height: 1.2em;
                margin: 18px 0;
                font-family: 'Oswald', sans-serif;  
                 
            }
            h4, h4 a {
    
                color: map-get($schoolcolors , secondary);
                font-size: 1.8em;
                line-height: 1.2em;
                margin: 18px 0;
                font-family: 'Oswald', sans-serif;  
                 
            }
    }
   
  nav, .navbar{

    background-color: map-get($schoolcolors , secondary);
    padding-top: 0px; padding-bottom: 0px;
    border-top:5px solid map-get($schoolcolors , accent);
    border-bottom:5px solid map-get($schoolcolors , accent);

    .nav-item:hover{background-color: lighten(map-get($schoolcolors , secondary), 10%);}
    
 
    }
 .navbar-nav .nav-link {

    color: map-get($schoolcolors , navlinks);
        font-size: 1em;
        font-weight: 400;
        padding: 12px 36px 12px 18px;
        text-transform: uppercase;

              a .nav-link {  color: map-get($schoolcolors , navlinks);}   
  
            }
 .nav a{ color: map-get($schoolcolors ,  navlinks);}
.sidebar-1{

.school-info-box{
    background-color: map-get($schoolcolors , infoboxcolor); padding:15px;
    margin-bottom: 20px;   text-align: center;
    border:5px solid darken(map-get($schoolcolors , infoboxcolor), 5%);
    @include rounded-corners(6px); }

    h4{    font-size: 1.6em;   line-height: 1.2em;
         font-family: 'Oswald', sans-serif;  }
nav{
    background-color: map-get($schoolcolors , sidemenucolor);
     @include rounded-corners(6px); 
     border:5px solid lighten(map-get($schoolcolors , sidemenucolor), 20%);
     

        h2{ font-size: 1.6em; text-align: center;}


.list-group  li {

    background-color: map-get($schoolcolors , sidemenucolor);
    border-width:1px 0 1px 0;
    border-color: darken(map-get($schoolcolors , sidemenucolor), 20%);
    border-style: dashed;

  a {   color: map-get($schoolcolors , primary); }
   

}
.list-group:hover{background-color: lighten(map-get($schoolcolors , sidemenucolor), 10%);}

.list-group-item {

    border-width:0 0 1px 0;
    border-color: darken(map-get($schoolcolors , sidemenucolor), 20%);
    border-style: dashed;

}
}


div.news{
 
   #news h2, h2 a{ 
        color: map-get($schoolcolors , accent);}
}

.schooleventindexpage {
  
.calendar {
    padding:0 15px 15px 15px!important;
    @include rounded-corners(6px); 
    border:5px solid (map-get($schoolcolors , secondary));
  p {  
        line-height: 1.5em;
    font-size: 1em;}
   
p  strong {text-transform: uppercase;
    color: lighten(map-get($schoolcolors , primary), 20%);
}


a {    color: lighten(map-get($schoolcolors , primary), 20%);
font-size:95%;}

}
}
}
.footer{padding: 20px;
    background-color: map-get($schoolcolors , secondary);
   p,a{  color: map-get($schoolcolors , navlinks);} 
  
}