
/* Bootstrap got more specific with this class, so we need to as well */
/*@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 18px 8px 18px 20px
    }
}*/

/* If nav goes on to two lines, we need this style */
/* @media screen and (min-width: 768px) {
    .navbar-expand-lg .navbar-nav {
        justify-content: center;
    }
}*/

/* Fixing hamburger nav icon for mobile */
/*.navbar .navbar-toggler-icon {
    color: #fff;
}*/

/* Can't reference li.secondary-menu anymore because 
moved H2 out of the list to make code more semantic */
/*.QuickLinksSchoolBlock h2 {
    color: #fff;
    background-color: #10267c;
    padding: 3px 0 8px 8px;
    font-size: 22px;
}*/

/* An existing .list-group-item class adds extra styles, 
so we need to remove them */
/*.QuickLinksSchoolBlock .list-group-item {
    border-right: 0;
    border-bottom: 1px solid #1da38e;
    border-top: 1px solid #0b7362;
    border-top-right-radius: 0;
}*/

/* Bootstrap style that needs to be overriden */
/*.QuickLinksSchoolBlock .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}*/

/* Using class that was added to content block instead of ID */
.homepagetopcontent h3 {
    color:#178876;
    font-size: 28px;
    line-height:33px;
    margin:15px 0 10px 0;
    font-family:'leaguespartan';
}

.homepagetopcontent p {  
    font-size: 16px;
}

/* Search button container now handles the width */
/*.searchbtn {
    width: auto;
    margin-left: 0;
}*/

/* Bootstrap input-group tries to smush the fields together for a more modern look */
/*.SearchSchoolBlock .input-group > .input-group-append > .btn {
    border-radius: 4px;
}

.SearchSchoolBlock .input-group > .form-control {
    border-radius: 4px;
}

.SearchSchoolBlock .input-group-append {
    margin-left: 10px;
}*/

/* overriding mobile search style in custom CSS */
/*@media only screen and (max-width: 768px) and (min-width: 240px) {
    .search, 
    .one-column .search {
        display: flex;
    }
}*/

/* Upcoming Events changed ID to class; updated selector */
.UpcomingEventsSchoolBlock .calendar { 
    text-align:center;
    padding: 0px 0 40px 0;
    margin-top: 20px;
    background: url("../images/ssims-intro-bg.jpg")repeat 0 0;
}

.UpcomingEventsSchoolBlock .calendar h4::after {
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 22px solid #10267c;
    content: "";
    position: absolute;
    right: 10px;
    top: 40px;
}

.UpcomingEventsSchoolBlock .calendar h4 {
    background: #10267c;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 0.8em;
    padding: 8px 0 8px 8px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    font-family:'leaguespartan', serif;
}

.UpcomingEventsSchoolBlock .calendar p {
    color:#646464;
    padding:10px 0;
    border-bottom:1px dashed #aaaaaa; 
    margin:0 5%;
    line-height:1.2em;
}

.UpcomingEventsSchoolBlock .calendar p a {
    color:#0f5fbf;
    font-size:14px;
}

.UpcomingEventsSchoolBlock .calendar p a:hover {
    color:#10267c;
}

.UpcomingEventsSchoolBlock .calendar p strong {
    color: #646464;
    display: inline-block;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight:bold;
}

/**** remove these two selectors *****/    
.UpcomingEventsSchoolBlock .btn-calendar { 
    margin-top:-10px; 
    text-align:center; 
    margin-bottom:2em; 
}

.UpcomingEventsSchoolBlock .btn-calendar .btn-primary {
    margin-top: -14px;
}
/* End Upcoming Events */

/* Announcements/News changed ID to class; updated selector */
.RecentNewsSchoolBlock .news {
    background: rgba(0, 0, 0, 0) url("../images/ssims-hr-bg.jpg") repeat-x scroll left top;
    margin: 0 0 20px;
    padding-top: 25px;
}
    
.RecentNewsSchoolBlock .news h2 {   
    margin:0 0 15px 0; 
    color:#d36c42; 
    font-family: 'leaguespartan'; 
    text-transform:uppercase;
}

.RecentNewsSchoolBlock .news article.list-group {
    margin-bottom:30px;
}

.RecentNewsSchoolBlock .news article.list-group h3 {
    margin-bottom:5px;
    text-align: left;
}

.RecentNewsSchoolBlock .news .list-group-item {
    border:0;
    padding:8px 0;
    border-bottom: 1px dotted #94959b;
    border-right: 8px solid #fff;
    margin-bottom:0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
}

.RecentNewsSchoolBlock .news .list-group-item h3 { 
    margin-top:0; 
    border-bottom:0px; 
    font-size:20px; 
    color:#0f5fbf;
    font-family:Arial, Helvetica, sans-serif;
}

.RecentNewsSchoolBlock .news a.list-group-item:hover { 
    border-right: 8px solid #d1d1d1; 
}

.RecentNewsSchoolBlock .news .list-group-item p { 
    color:#444; 
    margin:5px 0; 
}

.RecentNewsSchoolBlock .news .list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* overriding margin for homepage block only */
.RecentNewsSchoolBlock .homepage .RecentNewsSchoolBlock {
    margin: 0;
}
/* End Announcements/News */


/* Added "tophome" class to top School Container Block in the CMS */
.tophome {
    background:#e8e7e5 url(../images/ssims-intro-bg.jpg) repeat;
    width:100%; display:block;
    padding:2em 0px 1.5em;
}

/* Overriding custom CSS styles */
.homepage #content {
    padding-top: 0;
}

.tophome .ContentBlock {
    margin: 0;
}

/* Hiding newspaper icon for Announcements */
/*.RecentNewsSchoolBlock .icon-newspaper {
    display: none;
}*/

/* Fixing "row" class from custom CSS */
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/* Added "bottomhome" class to bottom School Container Block in the CMS */
.bottomhome {
    background:#e8e7e5 url(../images/ssims-intro-bg.jpg) repeat;
    width:100%; 
    display:block;
    border-top:8px solid #178876;
    padding:100px 0px 20px 0px;
}

/* added "before" element to get the cougar image in there */
.bottomhome:before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    background: transparent url(../images/ssims-cougar.png) no-repeat center top;
    width: 100%;
    height: 96px;
}

.bottomhome h3 {
    color:#e57c4a;
    font-size: 30px;
    line-height:35px;
    margin:15px 0 10px 0;
    font-family: 'Gabriela', cursive;
}

.bottomhome h2 {
    margin-bottom:0px;
    color: #178876;
    text-align: center;
}

.bottomhome img {
    border: 5px solid #fff;
    box-shadow: 1px 1px 3px 2px #ccc;
}

.bottomhome .thumbnail {
    border:0px;
    background-color:transparent;
    margin-bottom:40px;
    text-align:left;
}

.bottomhome img.center-cougar {
    width:154px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border:0px;
    box-shadow:none;
}

.bottomhome .ContentBlock {
    margin: 0;
}
/* End "bottomhome" section */


/* fixing mobile footer display issue */
/*@media only screen and (max-width: 768px) and (min-width: 240px) {
    .footer {
        position: static;
        padding-top: 0;
        overflow: visible;
    }
}*/

/*ul#global-footerNav {
    width: 100%;
    float: none;
}*/

/*@media only screen and (max-width: 768px) and (min-width: 240px) {
    .credits {
        position: static;
        height: auto;
        width: auto;
        z-index: 0;
    }
}*/
/* end footer section */




