@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
header h1 {
  color: #444;
  font-size: 4em;
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

header h1 span {
  font-weight: lighter;
  font-size: .5em;
}

header address {
  text-indent: -9999px !important;
  margin: 0;
  padding: 0px;
  height: 1px;
  line-height: 1px;
}

header h3 {
  color: #e7e7e7;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

header a:hover {
  text-decoration: none;
}

h2 {
  color: #444;
  font-size: 2.2em;
  line-height: 1.2em;
  margin: 24px 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

h2 a {
  color: #444;
  border-bottom: 1px solid #444;
}

h2 a:hover {
  text-decoration: none;
  border-bottom-color: #444;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2em;
  margin: 18px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

h3 a {
  color: #e7e7e7;
  border-bottom: 1px dashed #be212d;
}

h3 a:hover {
  text-decoration: none;
  border-bottom-color: #e7e7e7;
}

h4 {
  color: #be212d;
  font-size: 1.5em;
  line-height: 1.1em;
  margin: 18px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

h4 a {
  color: #e7e7e7;
  border-bottom: 1px dashed #e7e7e7;
}

h4 a:hover {
  text-decoration: none;
  border-bottom-color: #e7e7e7;
}

.navbar {
  background-color: #2b2b2b;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 3px solid #be212d;
  border-bottom: 3px solid #be212d;
}

.navbar li a:hover {
  background-color: #be212d;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: .95em;
  font-weight: 400;
  padding: 12px 36px 12px 18px;
  text-transform: uppercase;
}

.navbar-nav .nav-link a .nav-link {
  color: #fff;
}

.nav a {
  color: #fff;
}

.sidebar-1 .school-info-box {
  background-color: #e7e7e7;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  border: 5px solid #dadada;
  border-radius: 6px;
}

.sidebar-1 .school-info-box p {
  font-size: 14px;
  line-height: 18px;
}

.sidebar-1 h4 {
  font-size: 1.6em;
  line-height: 1.2em;
  font-family: 'Oswald', sans-serif;
}

.sidebar-1 nav {
  background-color: #be212d;
  border-radius: 6px;
  border: 5px solid #e4616b;
}

.sidebar-1 nav h2 {
  font-size: 1.6em;
  text-align: center;
  color: #fff;
}

.sidebar-1 nav .secondary-menu li {
  background-color: #be212d;
  border-width: 0 0 1px 0;
  border-color: #e4616b;
  border-style: dashed;
}

.sidebar-1 nav .secondary-menu li:hover {
  background-color: #dc3643;
}

.sidebar-1 nav .list-group-item {
  border-width: 0 0 1px 0;
  border-color: #671218;
  border-style: dashed;
}

.sidebar-1 .list-group li a {
  color: #fff;
  font-style: italic;
  line-height: 1.3em;
  padding: 12px 0;
}

.sidebar-1 .schooleventindexpage .calendar {
  padding: 0 15px 15px 15px !important;
  border-radius: 6px;
  color: #e7e7e7;
  background-color: #e7e7e7;
  border: 5px solid #c1c1c1;
}

.sidebar-1 .schooleventindexpage .calendar p {
  line-height: 1.5em;
  font-size: 1em;
}

.sidebar-1 .schooleventindexpage .calendar p strong {
  text-transform: uppercase;
  color: #575962;
}

.sidebar-1 .schooleventindexpage .calendar a {
  color: #575962;
  font-size: 95%;
  font-style: italic;
}

.news h2, .news h2 a {
  color: #444;
}

.list-group a.list-group-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  margin: 5px 0;
  color: #be212d;
}

.footer {
  padding: 20px;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 95%;
}

.footer p, .footer a {
  color: #fff;
  font-size: 95%;
}

.carousel-item h2 {
  color: #fff;
}

.btn-default, .Calendar-template-school .calendar-container .fc-view-container a.fc-event, .Calendar-template-school .calendar-container .fc-view-container a.fc-event.color-1 {
  background-color: #444;
  border-color: #444;
}

.btn-default:hover, .Calendar-template-school:hover .calendar-container:hover .fc-view-container a.fc-event:hover, .Calendar-template-school:hover .calendar-container:hover .fc-view-container a:hover.fc-event.color-1:hover {
  background-color: #1e1e1e;
}

a.btn-primary {
  background-color: #be212d;
  border-color: #931923;
  color: #fff;
}

a.btn-primary:hover {
  background-color: #e4616b;
  color: #fff;
}

a.btn-warning {
  background-color: #be212d;
  color: #fff;
  border-color: #e7e7e7;
}

.btn-warning:hover {
  background-color: #7d161e;
  color: #fff;
}

.btn-calendar {
  width: 255px;
  margin: -20px auto 0 auto;
}

.logo.has-image {
  max-width: 1031px;
  margin: 0px auto;
}

.sidebar-1 .schooleventindexpage a {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */