
/* overwriting Bootstrap base font size */
/*body {
    font-size: 0.87rem;
    line-height: 1.43;
}*/

/* overwriting Bootstrap style */
/*.navbar {
    padding: 0;
}*/

/* changing color of mobile hamburger menu icon */
/*.navbar-toggler-icon {
    color: #ccc;
}*/

/* no longer a custom ID on the carousel area; can use this class instead to style */
.HeroCarouselSchoolBlock {
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
    margin-right: -30px;
    margin-left: -30px;
}

/* Can't reference li.secondary-menu anymore because 
moved H2 out of the list to make code more semantic */
/*.QuickLinksSchoolBlock h2 {
    background: #103d69 url(../images/bcc-link-icon.png) no-repeat scroll left top;
    color: #fff;
    font-size: 1.6em;
    text-transform: none;
    font-weight: normal;
    margin: 0 0;
    width: 100%;
    font-family: pacificoregular;
    display: inline-block;
    text-align: left;
    padding: 8px 3px 8px 40px;
    position: relative;
}*/

/* An existing .list-group-item class adds extra styles, 
so we need to remove them */
/*.QuickLinksSchoolBlock .list-group-item {
    border-bottom: 0;
}*/

/* Bootstrap style that needs to be overriden */
/*.QuickLinksSchoolBlock .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}*/

/* because of HTML structure change, need this for blue border on bottom of nav */
/*.QuickLinksSchoolBlock .secondary-menu {
    background-color: #103d69;
    padding-bottom: 20px;
}*/

/* Search button container now handles the width */
/*.searchbtn {
    width: auto;
    margin-left: 0;
}*/

/* Bootstrap input-group tries to smush the fields together for a more modern look */
/*.SearchSchoolBlock .input-group > .input-group-append > .btn {
    border-radius: 4px;
}

.SearchSchoolBlock .input-group > .form-control {
    border-radius: 4px;
}

.SearchSchoolBlock .input-group-append {
    margin-left: 10px;
}*/

/* overriding mobile search style in custom CSS */
/*@media only screen and (max-width: 768px) and (min-width: 240px) {
    .search, 
    .one-column .search {
        display: flex;
    }
}*/

/* Upcoming Events changed ID to class; updated selector */
.UpcomingEventsSchoolBlock .calendar {
    background:#FFF;
    border:1px solid #d9bc32;
    text-align:center;
    padding:0px 0px 40px 0;
    margin-top:2em;
}

.UpcomingEventsSchoolBlock .calendar h4 {
    background:#d9bc32 url("../images/bcc-calendar-icon.png") no-repeat scroll left top;
    font-size: 1.6em;
    text-transform:none;
    font-weight:normal;
    color: #FFF;
    margin:0 0;
    width:100%;
    font-family:pacificoregular;
    display: inline-block;
    text-align:left;
    padding: 6px 3px 7px 40px;
    position: relative;
}

.UpcomingEventsSchoolBlock .calendar p {
    color:#4b89d8;
    padding:10px 0;
    border-bottom: 2px solid #eae3c9;
    margin:0 5%;
    line-height:1.4em;
    font-size: 1em;
    font-weight:normal;
    font-family: Tahoma, Geneva, sans-serif;
}

.UpcomingEventsSchoolBlock .calendar p strong {
    color: #6e5b00;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight:normal;
    font-family: Tahoma, Geneva, sans-serif;
}
    
.UpcomingEventsSchoolBlock .calendar p br {
    margin-bottom:.8em; 
}

.UpcomingEventsSchoolBlock .calendar .btn-calendar { 
    margin-top:-20px; 
    text-align:center; 
}

.UpcomingEventsSchoolBlock .calendar p br { 
    padding-top:12px; 
}

/**** remove these two selectors *****/
.UpcomingEventsSchoolBlock .btn-calendar p { 
    margin:20px 0; 
    text-align:center; 
}

.UpcomingEventsSchoolBlock .btn-calendar {
    margin-top: -45px;
}
/* End Upcoming Events */


/* Announcements/News changed ID to class; updated selector */
.RecentNewsSchoolBlock .news {
    margin: 0px 0 20px 0;
}
    
.RecentNewsSchoolBlock .news h2 {
    color:#002d62;  
    background:url("../images/bcc-news-icon.png") no-repeat scroll left top;
    font-size: 2.1em;
    display: inline-block;
    text-align:left;
    font-family:Georgia, "Times New Roman", Times, serif;
    text-transform:capitalize;
    font-weight:normal;
    margin:15px 0px 15px 0px;
    padding: 5px 0px 5px 50px;
    font-weight:normal;
}
       
.RecentNewsSchoolBlock .news h3 {
    color:#4b89d8;
    margin-bottom: 5px;
    font-size:1.4em;
    font-weight:normal;
    font-family:Georgia, "Times New Roman", Times, serif;
}

.RecentNewsSchoolBlock .news article.list-group {
    margin-bottom:50px;
}

.RecentNewsSchoolBlock .news .list-group-item {
    border:0;
    padding:15px 2%;
    border-bottom: 1px dotted #d2c7be;
    margin-bottom:0;
}

.RecentNewsSchoolBlock .news h3.announcements a {
    color: #4b89d8;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 5px;
}   

.RecentNewsSchoolBlock .news a.list-group-item:hover h3 {
      color:#5292bc;
}

.RecentNewsSchoolBlock .news .list-group-item h3 { 
    margin-top:0; 
}

.RecentNewsSchoolBlock .news a.list-group-item { 
    text-decoration:none; 
}

.RecentNewsSchoolBlock .news a.list-group-item:hover { 
    background:#f0f0f0; 
}

.RecentNewsSchoolBlock .news .list-group-item p { 
    color:#4c4c4c; 
    font-size:14px; 
}

.RecentNewsSchoolBlock .news .list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/* End Announcements/News */

/* add more padding between rotating banner and content */
.main-content, .sidebar-1, .sidebar-2 {
    margin-top: 30px;
}

/* Hiding newspaper icon for Announcements */
/*.RecentNewsSchoolBlock .icon-newspaper {
    display: none;
}*/

/* Added "academics" class for Academic Programs section 
and it's using School Container Block */
.academics {
    background-color:#103d69;
    padding: 40px 0 40px;
    background:#103d69 url('../images/bcc-academics-bg.jpg'); 
    background-position: top center; 
    background-size:contain;  
    background-repeat: no-repeat;   
    border-top: 8px solid #d9bc32;
}

.academics h2 {
    color: #FFF;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    font-size: 2.9em;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}

.academics .ContentBlock {
    display: block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.academics .ContentBlock h4 {
    color: #c6a400;
    font-size: 1.4em;
    letter-spacing: 0;
    line-height: 1.3em;
    margin-top: 10px;
    font-family: Tahoma, Geneva, sans-serif;
}

/* Added "activity" class for Featured Activities section 
and it's using School Container Block */
.activity {
    padding: 40px 0 40px;
    background-color:#272727;
    background-image: url('../images/bcc-activity-bg.jpg'); 
    background-position:center;
    background-repeat:repeat-y; 
    border-top: 8px solid #d9bc32;
}

.activity:before,
.activity:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: transparent url(../images/bcc-baronleft.png) no-repeat left center;
    width: 100%;
}

.activity:after {
    right: 0;
    background-image: url(../images/bcc-baronright.png);
    background-position: right center;
    z-index: 0;
}

.activity > .container-fluid {
    position: relative;
    z-index: 5;
}

.activity h2 { 
    color: #FFF;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    font-size: 2.9em;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}

.activity .ContentBlock {
    display: block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.activity .ContentBlock h4 {
    color: #c6a400;
    font-size: 1.4em;
    letter-spacing: 0;
    line-height: 1.3em;
    margin-top: 10px;
    font-family: Tahoma, Geneva, sans-serif;
}

@media screen and (max-width: 1199px) {

    .activity:before,
    .activity:after {
        display: none;
    } 
}

/* Addition section */
.addition-container {
    padding: 40px 0 40px;
    background-color: #FFF;
    border-top: 8px solid #d9bc32;
}

.addition {
    padding: 0;
    border-top: 0;
}

/* footer fix */
/*ul#global-footerNav {
    width: 100%;
    float: none;
}*/

