@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);
header h1 {
  color: #ac1b18;
  font-size: 4em;
  padding-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

header h1 span {
  font-weight: lighter;
  font-size: .5em;
}

header address {
  text-indent: -9999px !important;
  margin: 0;
  padding: 0px;
  height: 1px;
  line-height: 1px;
}

header h3 {
  color: #326bf3;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

header a:hover {
  text-decoration: none;
}

.accentheading {
  color: #771718;
}

h2 {
  color: #ac1b18;
  font-size: 2.2em;
  line-height: 1.2em;
  margin: 24px 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

h2 a {
  color: #ac1b18;
  border-bottom: 1px solid #ac1b18;
}

h2 a:hover {
  text-decoration: none;
  border-bottom-color: #ac1b18;
}

h3 {
  color: #326bf3;
  font-size: 1.8em;
  line-height: 1.2em;
  margin: 18px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

h3 a {
  color: #3a3f45;
  border-bottom: 1px dashed #326bf3;
}

h3 a:hover {
  text-decoration: none;
  border-bottom-color: #3a3f45;
}

h4 {
  color: #444444;
  font-size: 1.5em;
  line-height: 1.1em;
  margin: 18px 0;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

h4 a {
  color: #3a3f45;
  border-bottom: 1px dashed #3a3f45;
}

h4 a:hover {
  text-decoration: none;
  border-bottom-color: #3a3f45;
}

.navbar .container, .nav-wrapper {
  background: #303032;
  opacity: 0.9;
}

.navbar-default .navbar-nav > li > a {
  margin: 0 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ac1b18;
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 20x;
  padding-right: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #ac1b18;
  color: #FFF;
}

.sidebar-1 .school-info-box {
  background-color: #f7f7f5;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  border: 5px solid #ecece7;
  border-radius: 6px;
}

.sidebar-1 .school-info-box p {
  font-size: 14px;
  line-height: 18px;
}

.sidebar-1 h4 {
  font-size: 1.6em;
  line-height: 1.2em;
  font-family: 'Oswald', sans-serif;
  color: #3a3f45;
}

.sidebar-1 nav.list-group ul, .sidebar-1 nav.list-group ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  background: url("https://www2.montgomeryschoolsmd.org/siteassets/schools/middle-schools/n-r/clementems/images/nav-bg.jpg") repeat;
}

.sidebar-1 nav.list-group ul li a {
  font-size: 1.1em;
  color: #494a4e;
  display: block;
  padding: 10px 10px;
  text-transform: uppercase;
  border-bottom: 1px dashed #fff;
}

.sidebar-1 .list-group li a {
  color: #771718;
  font-style: italic;
  line-height: 1.3em;
  padding: 12px 0;
}

.sidebar-1 .schooleventindexpage .calendar {
  padding: 0 15px 15px 15px !important;
  border-radius: 6px;
  border: 5px solid #771718;
  background-color: #ebebeb;
}

.sidebar-1 .schooleventindexpage .calendar h4 {
  background-color: #ebebeb;
  color: #771718;
}

.sidebar-1 .schooleventindexpage .calendar p {
  line-height: 1.5em;
  font-size: 1em;
}

.sidebar-1 .schooleventindexpage .calendar p strong {
  text-transform: uppercase;
  color: #771718;
}

.sidebar-1 .schooleventindexpage .calendar a {
  color: #3a3f45;
  font-size: 95%;
  font-style: italic;
}

.news h2, .news h2 a {
  color: #3a3f45;
}

.list-group a.list-group-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  margin: 5px 0;
  color: #ac1b18;
}

.footer {
  padding: 20px;
  background-color: #b8b7b7;
  color: #771718;
  font-size: 95%;
}

.footer p, .footer a {
  color: #771718;
  font-size: 95%;
}

.carousel-item h2 {
  color: #fff;
}

.btn-default, .Calendar-template-school .calendar-container .fc-view-container a.fc-event, .Calendar-template-school .calendar-container .fc-view-container a.fc-event.color-1 {
  background-color: #ac1b18;
  border-color: #ac1b18;
}

.btn-default:hover, .Calendar-template-school:hover .calendar-container:hover .fc-view-container a.fc-event:hover, .Calendar-template-school:hover .calendar-container:hover .fc-view-container a:hover.fc-event.color-1:hover {
  background-color: #69100f;
}

.btn-primary {
  background-color: #771718;
  border-color: #621314;
}

.btn-primary:hover {
  background-color: #cc2829;
}

.btn-warning {
  background-color: #771718;
  border-color: #3a3f45;
}

.btn-warning:hover {
  background-color: #370b0b;
}

.btn-calendar {
  width: 255px;
  margin: -20px auto 0 auto;
}

.logo.has-image {
  margin: 0px;
}

.order-md-3 .htmlblock {
  background-color: #f7f7f5;
  padding: 8px;
  margin-bottom: 20px;
  text-align: center;
  border: 5px solid #ecece7;
  border-radius: 6px;
}

.order-md-3 .htmlblock h2 {
  font-size: 1.6em;
  padding: 0 15px;
}

.order-md-3 .htmlblock ul {
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.order-md-3 .htmlblock ul li {
  margin: 0px;
  padding: 5px 0px 5px 10px;
  list-style-type: none;
  border-bottom: 1px dashed #bebeae;
  text-align: left;
}

.order-md-3 .htmlblock ul li a {
  color: #ac1b18;
}
/*# sourceMappingURL=main.css.map */